---
import { Image } from 'astro:assets';
import { getPageInfo, getImageInfo } from '../lib/wp/index.js';
import LanguageSwitcher from './LanguageSwitcher.astro';

// Obtén el parámetro 'lang' de la URL
const { lang } = Astro.params;

const acf = await getPageInfo("header");

const imageData = acf.header_imagen ? await getImageInfo(acf.header_imagen) : null;
const ImageUrl = imageData?.source_url || "";
const ImageAlt = imageData?.alt_text || "Logo Vibria";
---

<header class="flex flex-row items-center justify-between bg-primary px-4 py-2 text-center">
    <Image src="/menu.png" alt="Menu-Icon" width="30" height="30" />
    <a href={`/${lang}`}>
        <Image src={ImageUrl} alt={ImageAlt} width="60" height="60" />
    </a>
    <LanguageSwitcher currentLang={lang} />
</header>
