---
import { Image } from "astro:assets";
---
<div class="bg-primary ">
    <Image class="opacity-60 -z-1" src="/slide_intercanvi.png" alt="Menu-Icon" width="390" height="700" />
    <div class="flex flex-col items-center justify-center">
        <h1 class="text-white text-4xl font-700">Intercanvi de roba</h1>
        <p class="text-white text-lg">Dissabte 25 de setembre de 10 a 13 h</p>
    </div>
</div>

background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url('/public/images/hero-image.png') center/cover no-repeat;
