---
import { getPageInfo } from "../lib/wp.js";

// Realiza la solicitud a la API de WordPress en el lado del servidor
const {title, content} = await getPageInfo("politica-privacidad");
---

<html>
  <head>
    <title>Blog</title>
  </head>
  <body>
    <h1>{title}</h1>
    <div set:html={content}> />
  </body>
</html>
