.assessoria-content {
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    @media (min-width: 768px) {
        margin-top: 2rem;
    }
}
.assessoria-content > *:not(h2) {
    margin-left: 2rem;
    margin-right: 2rem;
}

.assessoria-content h2 {
    font-weight: 700; 
    font-size: 17px;
    margin-bottom: 1rem;
    width: 100%;
    background-color: #5DC695;
    color: white;
    text-align: center;
    padding: 0.5rem 0;

    @media (min-width: 768px) {
        font-weight: 800;
        font-size: 30px;
        color: #5DC695;
        background-color: transparent;
    }
}

.assessoria-content div:has(> figure){
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 1rem;
    @media (min-width: 768px) {
        flex-direction: row;
        
    }

}

.assessoria-content p, li {
    font-weight: 500;
    text-align: justify;
    @media (min-width: 768px) {
        font-size: 1rem;
    }
}
.assessoria-content div:has(> p){
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #5DC695;
    padding: 0.5rem;
    text-transform: uppercase;
    > p {
        color: white;
        text-align: center;
    }
}
.assessoria-content hr {
    border: 0.5px solid #00000040
}

.assessoria-content strong {
    font-weight: 700;
}

.assessoria-content figure {
    display: flex;
    justify-content: center;
    align-items: center;
}
.assessoria-content ul {
    padding-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style: disc;
}
.assessoria-content ol {
    padding-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style: decimal;
}

