.experiencia-content {
    font-size: 0.875rem;
    line-height: 1.5;
}

.experiencia-content h2 {
    font-weight: 700;
    font-size: 25px;
    margin: 0.5rem 0;
    color: black;
    text-align: center;
}

.experiencia-content p {
    margin-bottom: 0.75rem;
    font-weight: 400;
}

.experiencia-content hr {
    border: 0.5px solid #00000040
}

.experiencia-content strong {
    font-weight: 700;
}

.experiencia-content figure {
    display: flex;
    justify-content: center;
    align-items: center;
}