.experiencies-content {
    font-size: 0.875rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem 0;
}

.experiencies-content h2 {
    font-weight: 700;
    font-size: 25px;
    color: #D3133A;
    text-align: center;

    @media (min-width: 768px) {
        font-weight: 800;
        font-size: 30px;
        
    }
}

.experiencies-content p {
    margin-bottom: 0.75rem;
    font-weight: 600;
    text-align: center;
    width: 80%;

    @media (min-width: 768px) {
        font-size: 1rem;
        font-weight: 500;
    }
}