.experiencies-erasmus-content h2{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #81aef6;

    @media (min-width: 768px) {
        font-weight: 800;
        font-size: 30px;
    }
}